$dark-red: rgb(186, 66, 112);
$link-water-white: rgb(251, 252, 254);
$san-juan-blue: rgb(54, 83, 107);
$mirage-blue: rgb(27, 38, 47);
$charm-pink: rgb(218, 109, 151);
$light-san-juan-blue: rgb(108, 130, 148);
//---------------font sizes-----------
$h1-big: 72px;
$h1-small: 56px;
$h2-size: 48px;
$h3-big: 32px;
$h3-small: 20px;
$h4-size: 25px;
//--------------font families-----------
$DM-serif: 'DM Serif Display',
serif;
$public-sans: 'Public Sans',
sans-serif;
//--------------font weights-------------
$regular: 400;
$light: 300;
//-------------Companies home component ----------------
.companies-section {
    padding: 5% 10%;
    background-color: $mirage-blue;
    @media screen and (max-width: 756px) {
        text-align: center;
        flex-direction: column-reverse !important;
    }
    .title-col {
        @media screen and (min-width: 480px) {
            width: 50%;
          }
          width: 100%;
        color: $link-water-white;
        h2 {
            font-size: $h2-size;
            font-family: $public-sans;
            margin-bottom: 15px;
        }
        p {
            @media screen and (min-width: 755px) {
                padding-right: 23%;
            }
            font-size: 15px;
            line-height: 1.5rem;
            font-family: $public-sans;
            margin-bottom: 30px;
        }
        .dark-btn {
            height: 50px;
            width: 150px;
            border-radius: 25px;
            margin-bottom: 30px;
            cursor: pointer;
            border: 1px solid $link-water-white;
            background-color: transparent;
            color: $link-water-white;
            &:hover {
                transition: all 0.2s ease-out;
                background-color: $link-water-white;
                color: $mirage-blue;
            }
        }
    }
    .logos-col {
        @media screen and (min-width: 480px) {
            width: 50%;
          }
          width: 100%;
        padding-top: 40px;
        justify-content: center !important;
        align-items: center !important;
        .comp-row {
            align-items: center !important;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
           .logo-item {
            @media screen and (min-width: 480px) {
                width: 33%;
              }
              width: 50%;
            .logo {
                margin: 20px auto 10px !important;
                filter: brightness(0) invert(1);
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05) !important;
                }
            }}
        }
    }
}