<div class="companies-section" fxLayout="row wrap">
    <div class="title-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%">
        <h2>Who we work with</h2>
        <p>Today, millions of people around the world have successfully connected their accounts to apps they love using our API. We provide developers with the tools they need to create easy and accessible experiences for their users.
        </p>
        <button class='dark-btn'>About Us</button>

    </div>
    <div class="logos-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%">
        <div fxLayout="row wrap" class="comp-row">
            <div class="logo-item"fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"><img src="{{tesla}}" alt="tesla" class="logo"></div>
            <div class="logo-item"fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"><img src="{{microsoft}}" alt="microsoft" class="logo"></div>
            <div class="logo-item"fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"><img src="{{hp}}" alt="hp" class="logo"></div>
            <div class="logo-item"fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"><img src="{{oracle}}" alt="oracle" class="logo"></div>
            <div class="logo-item"fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"><img src="{{google}}" alt="google" class="logo"></div>
            <div class="logo-item"fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"><img src="{{nVidia}}" alt="nVidia" class="logo"></div>
        </div>
    </div>

</div>