<div class="cta-section" fxLayout="row wrap">
    <div class="title-col" fxFlex.xs='100%' fxFlex.sm='100%' fxFlex.md="50%" fxFlex.lg="50%">
        <h2>Ready to get started?</h2>
    </div>
    <div class="input-row" fxFlex.xs='100%' fxFlex.sm='100%' fxFlex.md="50%" fxFlex.lg="50%">
        <div fxLayout="row wrap">
            <div class="input-col" fxFlex.xs="100%" fxFlex.sm="60%" fxFlex.md="60%" fxFlex.lg="60%">
                <input type="text" name="email" placeholder="Your email address...">
            </div>
            <div class="btn-col" fxFlex.xs="100% "fxFlex.sm="40% "fxFlex.md="40%" fxFlex.lg="40%">

                <button class='pink-btn'>Contact Us</button>
            </div>
        </div>
    </div>
</div>