<div class="contact-section" fxLayout="row wrap">
  <div
    class="form"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="50%"
    fxFlex.lg="50%"
  >
    <form class="form-col" fxLayout="column" #userform="ngForm" (ngSubmit)="onSubmit()">
      <input required pattern="[a-zA-Z]+"#name="ngModel" [(ngModel)]="user.name" [ngStyle]="{borderBottomColor: !name.valid && name.touched|| submitClicked && name.untouched? 'red': 'black'}"  type="text" name="name" placeholder="Name" />
      <small *ngIf="!name.valid && name.touched || submitClicked && name.untouched" style="color: 'red'">
        Name not valid
      </small>
      <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" [(ngModel)]="user.email" [ngStyle]="{borderBottomColor: !email.valid && email.touched || submitClicked && email.untouched? 'red': 'black'}" type="email" name="email" id="" placeholder="Email Address" />
      <small *ngIf="!email.valid && email.touched || submitClicked && email.untouched"  style="color: 'red'">
        Email address not valid
      </small>
      <input type="text" name="" id="" placeholder="Company Name" />
      <input type="text" placeholder="Title" />
      <textarea
      #message="ngModel" [(ngModel)]="user.message"
      required
        name="message"
        id=""
        cols="30"
        rows="10"
        placeholder="Message"
        [ngStyle]="{borderBottomColor: !message.valid && message.touched|| submitClicked && message.untouched? 'red': 'black'}"
      ></textarea>
      <small *ngIf="!message.valid && message.touched|| submitClicked && message.untouched" style="color: 'red'">
        Message can't be empty
      </small>
      <div   class="checkbok-row" fxLayout="row">
        <input  type="checkbox" name="checkbox" id="" class="checkbox" />
        <label for="checkbox"
          >Stay up-to-date with company announcements and updates to our
          API</label
        >
      </div>
      <button type="submit" class="submit-btn"> Submit </button>
    </form>
  </div>
  <div
    class="contact-comp-cont"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="50%"
    fxFlex.lg="50%"
  >
    <h3>Join the thousands of innovators already building with us</h3>
    <div class="contact-comp-row" fxLayout="row wrap">
      <div
        class="company-col"
        fxFlex.xs="50%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        fxFlex.lg="33%"
        *ngFor="let logo of logos; let i = index"
      >
        <img class="logo" src="{{ logo.src }}" alt="{{ logo.imgAlt }}" />
      </div>
    </div>
  </div>
</div>
