<app-top-about></app-top-about>
<!-----<div class="principles-section" *ngFor="let princ of principles1; let i=index">
    <div class="principle-row" fxLayout="row wrap">
        <div class="title-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%">
            <h4>{{princ.title}}</h4>
        </div>
        <div class="text-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%">
            <p>{{princ.text}}</p>
        </div>
    </div>


</div> --->
<app-statistics-about></app-statistics-about>
<!-----<div class="principles-section" *ngFor="let princ of principles2; let i=index">
    <div class="principle-row" fxLayout="row wrap">
        <div class="title-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%">
            <h4>{{princ.title}}</h4>
        </div>
        <div class="text-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%">
            <p>{{princ.text}}</p>
        </div>
    </div>


</div> --->